/* CSS Document */
.dropdown-toggle {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    color: black;
    background-color: transparent;  
}

#dropdown-pozadi {
    color:white;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;

}

.btn {
    min-width: 180px;
    text-shadow: 0px 0 #151515, 0 0.5px #585858, 0.5px 0 #585858, 0 0px #151515;
    border: 0px;

}
.btn:hover {
    background-color: #151515;
    transition: 0.2s;transition-timing-function:
    ease;color: white;
}

.btn li {
    float: left;
    list-style: none;
}

.btn a {
    padding: 15px 50px;
}
.btn:focus {
    box-shadow: 0 0 0 0.0 white;
    background-color: #151515;
    color: white;
}

.dropdown-menu {
    background-color:  #151515;
}

.redyoutube:hover {
    color:red;
}
.bluefb:hover {
    color:#355891;
}
#center {
    text-align: center;
    padding: 10px 0px 10px 0px;
    min-width: 180px;
}

#center:hover {
    background-color: #424242;
}

.navbar-brand {
font-size: 23px;
}
